@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  /* css resetting */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

/* body {
    color: #667085;
    font-family: "Inter", sans-serif;
    font-size: 16px;
} */
:root {
  --primary-background-color: #0b5ed7;
  --primary-color: #ffffff;
  --blue-text: #2b70c5;
}

button,
input[type="submit"] {
  border: none;
  cursor: pointer;
  border-radius: 25px;
  padding: 15px 20px;
  font-weight: 500;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  vertical-align: middle;
}

.primary-btn {
  background-color: #1566d6;
  color: white;
  padding: 16px 24px;
  border-radius: 62px;
  margin: 0 20px;
}

.text-center {
  text-align: center;
}

.text-blue {
  color: #2b70c5;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.text-big {
  font-weight: 600 !important;
}

.text-small {
  font-size: 14px;
  color: #676e76;
}

/* navbar section start */

.logo {
  padding: 14px 0;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #f5f5f5;
  position: relative;
}

.navbar-items {
  display: flex;
  align-items: center;
}

.navbar-items li {
  padding: 0 12px;
}

.navbar li a {
  color: black;
}

.nav-link {
  display: flex;
  align-items: center;
}

.myDropdown {
  position: absolute;
  width: 100%;
  left: 0;
  top: 80px;
  background-color: #525252;
  display: flex;
  flex-direction: column;
  padding: 32px 80px;
  background: #fff;
  box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03),
    0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}

.dropdown-content {
  display: none;
}

.show {
  display: block;
}

.logo-div img {
  margin-right: 16px;
}

.dropdown-content .dropdown-menu-heading, .dropdown-content .solutions-dropdown-content {
  margin-bottom: 12px;
  font-size: 13px;
  font-weight: 500;
}

.dropdown-content .dropdown-menu-items , .solutions-dropdown-content .dropdown-menu-items{
  display: flex;
  padding: 12px;
  width: 45%;
  align-items: flex-start;
  transition: all 0.3s ease-in-out;
}

.drop-down-heading .text-big {
  margin-bottom: 8px;
  color: #303236;
  transition: all 0.3s ease-in-out;
}

.solutions-columns {
  display: flex;
}

.myDropdown .right-column{
  width: 300px;
}



/* navbar section ends */

/* main section start */

.main-section {
  padding-top: 60px;
  padding-bottom: 52px;
  color: #303236;
}

.main-section .container {
  max-width: 880px;
  text-align: center;
  padding-top: 20px;
  width: 100%;
  margin: auto;
}

.header-text-medium {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.main-section h1 {
  font-size: 67px;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 104.627%;
  letter-spacing: -2.68px;
  text-transform: capitalize;
}

.blue-text {
  font-size: 67px;
  color: var(--blue-text);
}

.text-extra-big {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.44px;
}

.secondary-btn {
  margin-top: 32px;
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.44px;
  padding: 20px 40px;
  border-radius: 62px;
  background: transparent;
  border: 1px solid rgba(48, 50, 54, 0.2);
  color: #303236;
}

.image-section {
  padding-bottom: 108px;
}

/* main section ends */

/* jarvis video section starts */
.container-fluid {
  width: 100%;
  padding-left: 42px;
  padding-right: 42px;
  margin: 0 auto;
}

.image-section img {
  margin-bottom: 60px;
  width: 100%;
}

/* jarvis video section ends */

/* features section starts */

.features-section {
  padding-top: 72px;
  padding-bottom: 72px;
  margin-bottom: 108px;
}

.center-text {
  text-align: center;
}

.features-section .container {
  max-width: 1030px;
  margin: 0 auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.features-title {
  margin-bottom: 1.5rem;
}

.features-title,
.features-title span {
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2px;
}

.features-subtitle-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 168%;
  letter-spacing: -0.18px;
  text-transform: capitalize;
}

.features-section-columns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 52px;
}

.features-box {
  border-radius: 16px;
  min-height: 187px;
  padding: 32px 40px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(21, 102, 214, 0.18);
  background: rgba(43, 112, 197, 0.01);
  color: #303236;
  margin-right: 20px;
}

.features-box:not(:last-child) {
  margin-bottom: 20px;
}

.features-box:nth-child(2) {
  background: rgba(43, 112, 197, 0.04);
}
.features-box:nth-child(3) {
  background: rgba(43, 112, 197, 0.1);
}

.features-box img {
  margin-right: 32px;
}

.features-box .big-text {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0.5rem;
  line-height: 2rem;
  letter-spacing: -0.44px;
}

/* features section ends */

/* why us section start */

.why-us {
  background: rgb(247, 250, 253);
  padding-top: 88px;
  padding-bottom: 88px;
}

.why-us .container {
  max-width: 1030px;
  margin: 0 auto;
}

.why-us-title,
.why-us-title span {
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2px;
  margin-bottom: 2rem;
  text-transform: capitalize;
}

.why-us-subtitle {
  font-size: 13px;
  font-weight: 400;
  line-height: 168%;
  letter-spacing: -0.18px;
  text-transform: capitalize;
}

.why-us .stats-row {
  display: flex;
  justify-content: space-between;
  margin-top: 88px;
}

.stats-row .blue-text {
  margin-bottom: 8px;
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2px;
  /* text-transform: capitalize; */
}

.stats-row .small-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 168%;
  letter-spacing: -0.18px;
  text-transform: capitalize;
}

/* why us section ends */

/* who-we-serve section start */

.who-we-serve {
  padding-top: 108px;
}

.who-we-serve .container .serve-title,
.serve-title span {
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2px;
  text-transform: capitalize;
}

.serve-title {
  margin-bottom: 3rem;
}

.columns {
  display: flex;
  justify-content: space-around;
}

.column {
  width: 33.33333%;
}

.service-box {
  width: 100%;
  position: relative;
}

.service-box .main-image,
.service-box .hover-image {
  margin: 20px 0px;
  position: relative;
}

.service-box .hover-image {
  position: relative;
  display: none;
}

.service-box:hover .hover-image {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  scale: 1;
}

.service-box:hover .main-image {
  display: none;
}

/* who-we-serve section ends */

/* partner section starts */

.partners-section {
  padding-top: 108px;
  padding-bottom: 108px; /*extra added */
}

.partners-section .partner-title {
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2px;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.partners-section .partner-subtitle {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.44px;
  text-transform: capitalize;
}

.partner-slider {
  margin-top: 52px;
  margin-bottom: 30px;
}

.partner-list {
  width: 100%;
  height: 400px;
}

.partner-slider .partner-list1,
.partner-slider .partner-list2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.partner-list .partner-image {
  height: 90px;
  width: 178px;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 16px;
  margin: 10px;
}

.radio-buttons {
  display: flex;
  justify-content: center;
}

.radio-buttons .buttons {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #a0afc5;
  margin-right: 10px;
}

.radio-buttons .buttons:active {
  width: 30px;
  border-radius: 50px;
  transition: all 0s ease-in-out;
  background-color: #0b5ed7;
}

/* partner section ends */

/* collaborators section starts */

.collaborators {
  padding-top: 108px;
}

.collaborators .container {
  max-width: 850px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.collaborators-title .coll-title {
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2px;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.collaborators-subtitle {
  font-weight: 400 !important;
  font-size: 22px;
  letter-spacing: -0.44px;
  text-transform: capitalize;
}

.collaborators-container {
  margin-top: 52px;
  display: flex;
  flex-wrap: wrap;
}

.four-in-a-row {
  flex: 0 0 auto;
  width: 25%;
}

.three-in-a-row {
  flex: 0 0 auto;
  width: 33.33333%;
}

.collaborator-box .logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

.logo-box img {
  cursor: pointer;
  filter: grayscale(1);
  transition: all 0.3s ease-in-out;
}

.logo-box img:hover {
  filter: grayscale(0);
  scale: 1.1;
}

/* collaborators section ends */

/* social media section starts */

.social-media {
  padding-top: 108px;
}

.social-media .container {
  max-width: 850px;
  padding-bottom: 48px;
  padding-top: 48px;
}

.social-media .media-title {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: normal;
  text-transform: capitalize;
}

.media-partner-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 52px;
}

.media-partner-container .partner-box {
  width: 25%;
}

.media-partner-container .partner-box .logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  padding: 1px;
}

.media-partner-container .partner-box img {
  width: 100%;
}

/* social media section ends */

/* contact-us section starts  */

.contact-us {
  padding-top: 108px;
  padding-bottom: 108px;
}

.contact-form {
  border-radius: 16px;
  border: 1px solid rgba(21, 102, 214, 0.3);
}

.contact-column {
  display: flex;
}

.bg-blue {
  background-color: #1566d6;
  height: 100%;
  width: 317px;
  padding: 72px 50px;
  border-radius: 16px 0 0 16px;
}

.bg-blue .call-image {
  width: 162px;
  height: 162px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 52px;
}

.bg-blue .callback-title {
  color: white;
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -2px;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.callback-subtitle {
  font-size: 22px;
  color: white;
  font-weight: 400;
  letter-spacing: -0.44px;
  line-height: 154.545%;
  text-transform: capitalize;
}
.contact-us .right-side {
  padding: 56px 72px;
}

.select-options {
  display: flex;
  flex-wrap: wrap;
}

.select-options input[type="checkbox"] {
  display: none;
}

.option {
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid #ccc;
}

.select-options .selected {
  background-color: blue;
  border-color: blue;
  color: white;
}

.user-details-input .row {
  display: flex;
}

.user-details-input .row1 {
  display: flex;
  margin-top: 48px;
}

.user-details-input .row2 {
  display: flex;
  margin-top: 20px;
}

.contact-us .form-label {
  display: block;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 6px;
}

.form-group input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
}

.row .first-row {
  width: 50%;
}

.row .first-name,
.row .email {
  margin-right: 20px;
}

.country-code {
  border-radius: 8px;
  border: 1px solid #bfbfbf;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  display: flex;
}

.countries-option {
  padding: 12px 12px 12px 16px;
  width: 128px;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}

.form-group #phone-number {
  border: 0;
}

textarea.form-control {
  height: 112px;
  padding: 10px 14px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 10px;
}

.row3 {
  margin-top: 20px;
}

.enquiry-button {
  width: 100%;
  background-color: #1566d6;
  border-color: #1566d6;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 10px;
  padding: 16px 28px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 155.556%;
}
/* contact-us section ends  */

/* footer starts */

.footer-section {
  background-color: #f6f9fd;
  padding-top: 64px;
}

.container .footer-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 48px;
  border-bottom: 1px solid #d5d5d5;
  margin-bottom: 48px;
}

.footer-title .footer-info-title {
  max-width: 392px;
  font-size: 20px;
  font-weight: 500;
}

.site-map .menu-items {
  display: flex;
  justify-content: space-between;
}

.site-map {
  margin-bottom: 90px;
}

.site-map .title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}

.product-menu {
  max-width: 500px;
}

.product-menu ul li {
  margin-bottom: 14px;
}

.product-menu ul li a {
  font-size: 14px;
  color: #626b7f;
  letter-spacing: -0.14px;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.email-address img,
.office-timings img {
  width: 15px;
}

.office-address,
.email-address,
.office-timings {
  color: #626b7f;
  margin-bottom: 18px;
}

.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.credintials {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

.credintials .basl-text,
.container .sebi-text {
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-weight: 500;
}

.credintials .extra-info img {
  margin-right: 20px;
  font-weight: 600;
}

.extra-info {
  font-weight: 600;
  font-size: 20px;
}

.sebi-registration-number .extra-info {
  text-align: right;
}

.copyrights {
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  background-color: #e3edfa;
}

/* footer ends */

/* mobile-responsive code starts */

@media (max-width: 600px) {
  /* .container {
    text-align: left;
    margin: 0 auto;
  }

  .why-us .stats-row {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .navbar {
    display: none;
  }
  

  .features-section-columns{
    display: flex;
    flex-direction: column;
  }
  .features-section-columns .left-column, .features-section-columns .right-column{
  } */
}

/* mobile-responsive code ends */
